
/* welcome section*/
.Welcome-Info {
  margin-top: 80px;
  margin-bottom: 60px;
  text-align: center;
}
.Welcome-Info h1 {
  font-size: 4rem;
  font-weight: bold; /* bold text*/
  color: var(--accent); 
  margin-bottom: 5px; /*space between the text title and the description below */
}
.Welcome-Info p {
  font-size: 1.3rem;
  margin-bottom: 30px;
}
/* Buttons for Login + Register*/
.Home-Button-area {
  justify-content: center;
  display: flex;
  gap: 20px;
}
.button {
  background-color: var(--accent); /*green colour*/
  border: none;
  text-decoration: none;
  color: #fff; /* text colour */
  padding: 10px 22px;
}
.button-outline {
  background-color: transparent;
  border: 2px solid var(--accent);
  color: var(--accent);
}
.button:hover {
  background-color: var(--accent-hover);
}
.button-outline:hover {
  background-color: var(--accent);
  color: #fff; 
}
/* image picture */
.Welcome-Right-Box {
  text-align: center;
  margin-top: 20px;
  padding-bottom: 0px;
}
.Welcome-Image {
  padding: 20px; /* 3d affect with blur drop*/
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 500px;
  height: auto;
}

/* How it works Section */

.Home-Info-Section {
  margin-top: 50px;
  padding: 10px 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  text-align: center;
  background-color: var(--card-bg);

}
.Home-Info-Section h2 {
  color: var(--accent);
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}
.Home-Info-Section p {
  color: #555;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;

}

/* Categories Grid Section */
.Category-lists {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 15px;
  margin-top: 30px;
}

.Category-Type {
  background-color: var(--footer-bg);
  font-weight: 700;
  text-align: center;
  padding: 10px 0;
  color: #333;
  cursor: pointer;
}

.Category-Type:hover {
  color: white;
  background-color: var(--accent);
}


/* Footer Section */
footer {
  background-color: var(--footer-bg);
  font-size: 1rem;
  text-align: center;
  padding: 30px;
  color: #333;
  margin-top: 60px;
}

/* SHOP button */
.button-shop {
  background-color: var(--accent);
  border: 2px solid var(--accent);
  color: white;
}

.button-shop:hover {
  background-color: var(--accent-hover);
  color: #fff;
}
