/* report css*/
.report-container {
  max-width: 1000px;
  margin: 50px auto;
  padding: 40px 40px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}



/* header box*/
.report-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

/* header text*/
.report-header h1 {
  color: var(--accent); 
  font-size: 2rem;
  font-weight: 600;
}
/* back home link*/
.report-header .back-link {
  color: var(--accent); 
  font-weight: 700;
}

/* back home link when hovering*/
.report-header .back-link:hover {
  text-decoration: underline;
  color: var(--accent-hover); 

}
/* select drop box*/

.select-data {
  display: flex;
  margin-bottom: 15px;
  gap: 20px;
  align-items: center;
}

/* select row*/
.select-data select {
  border: 3px solid #d1d5da;
  outline: none;
  padding: 8px 12px;
  font-size: 1rem;
  border-radius: 6px;
}
/* select drop box background colour*/
.select-data select:focus {
  background: #f0fbf8; 
}


/* generate button */
.generate-btn {
  background: var(--accent); 
  font-weight: 500;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 8px 16px;
  cursor: pointer;
}

/* generate button when hovering*/

.generate-btn:hover {
  background: var(--accent-hover); /* uses the global accent hover colour*/
}
/* error message */
.error {
  color: #ff4d4f;
  margin-top: 10px;
  font-weight: 500;
}
/* report output */

.report-output {
  margin-top: 25px;
}
/* report title when outputted */
.report-output h2 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 15px;
}


/* report title when outputted */

.report-table {
  width: 100%;
  border-collapse: collapse;
}

/* the data table*/
.report-table th,
.report-table td {
  padding: 10px 12px;
  text-align: left;
  border-bottom: 1px solid #e5e7eb;
}
.report-table th {
  background-color: #f9fafb;
  font-weight: 600;
}



