/*register css + using login css as majority of css */
  
  /* shows the message after user registers */
  .register-message {
    margin-top: 15px;
    font-size: 14px;
    color: var(--accent-hover);                   
  }
  
  /* the text section underneath the registration button*/
  .register-footer {
    margin-top: 20px;
    font-size: 14px;
    color: #555;
  }
  
  /* the registeration footer link at the bottom */
  .register-footer a {
    color: var(--accent);                         
    font-weight: bold;
  }
  .register-footer a:hover {
    text-decoration: underline;
    color: var(--accent-hover);                   
  }
  