/*login page (also a bit register css) styling*


/* uses the global background + the text colours */
body {
  background-color: var(--background);
  color: var(--text);
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center; /* center the login-box horizontally */
  align-items: center;     /* center  the login-box vertically */
  height: 100vh;           /* make sures to fill the full page height */
  margin: 0;
}

/* is the main container box that holds the login form */
.login-container-box {
  background-color: var(--card-bg);
  box-shadow: var(--shadow);
  border-radius: 12px;
  width: 500px;
  padding: 40px;
  text-align: center;
  position: relative; /* this is for the back home postioning*/
}

/* the back to homepage text link */
.back-home-link {
  font-size: 1.3rem;
  position: absolute;
  left: 16px; /* changes the position to the top*/
  top: 12px; /* changes the position to the top*/
  color: var(--accent);
}
.back-home-link:hover {
  color: var(--accent-hover); /* turns it to dark green when hovering over the text*/
}

/* Heading for login box */
.login-container-box h1 {
  font-size: 2rem;
  margin-bottom: 25px;
  color: var(--accent);
}

/* Input fields (email, password) */
.login-input {
  width: 90%; /* changes the width of the boxes*/
  padding: 10px;
  margin-bottom: 15px; /* changes the position of the boxes*/
  border: 3px solid var(--edge); /* add a green border around the box edge when selected*/
  border-radius: 8px;
  font-size: 1.3rem;
  text-align: center;
  outline: none;
}
.login-input:focus {
  border-color: var(--accent); /* greenc colour the for the border*/
  
}

/* Main login button */
.login-btn {
  padding: 14px;
  width: 100%;
  border: none;
  border-radius: 8px;
  background-color: var(--accent);
  color: #fff;
  cursor: pointer;
  font-size: 1.3rem;
  
}
.login-btn:hover {
  background-color: var(--accent-hover);
}

/* Error message (new small helper class) */
.login-error {
  margin-top: 12px;
  font-size: 14px;
  color: #d33;
}
